[submodule "blog/themes/hugo-notepadium"]
	path = blog/themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "fitness-logger/fl-services/fl-test"]
	path = fitness-logger/fl-templates/fl-test
	url = git@github.com:JamesTiberiusKirk/fl-test.git
[submodule "fl-blog"]
	path = fl-blog
	url = git@github.com:JamesTiberiusKirk/fl-blog.git
[submodule "fitness-logger/fl-services/fl-auth"]
	path = fitness-logger/fl-auth
	url = git@github.com:JamesTiberiusKirk/fl-auth.git
[submodule "fitness-logger/fl-shared"]
	path = fitness-logger/fl-shared
	url = git@github.com:JamesTiberiusKirk/fl-shared.git
[submodule "fitness-logger/fl-tp-types"]
	path = fitness-logger/fl-tp-types
	url = git@github.com:JamesTiberiusKirk/fl-tp-types.git
[submodule "fitness-logger/fitness_logger_app"]
	path = fitness-logger/fitness_logger_app
	url = git@github.com:JamesTiberiusKirk/fitness_logger_app.git
